* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000000;
  background: #d2d7d8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  height: 100vh;
  max-width: 431px;

  @media only screen and (min-width: 431px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 38px !important;
}

h2 {
  font-size: 30px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

div.sub-layout-child-container {
  padding: 80px 8px;
}
