div.bg-image-container {
  display: inline-flex;
  width: 100%;
  height: 200px;
  background-image: url("../assets/images/home-bg.jpg");
  background-blend-mode: color-burn;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(1.5px);

  @media only screen and (min-width: 768px) {
    height: 450px;
  }
}

.wave-seperator {
  height: 100%;
  background-color: transparent;
  position: relative;
  width: 100%;
}

.wave-seperator::before {
  content: "";
  width: 100%;
  height: 168px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 80vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  97' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 71L50 67C100 63 200 54 300 36C400 19 500 -8 600 1C700 10 800 54 900 71C1000 89 1100 80 1150 76L1200 71V98H1150C1100 98 1000 98 900 98C800 98 700 98 600 98C500 98 400 98 300 98C200 98 100 98 50 98H0V71Z' fill='%23d0d0d0'/></svg>");
  z-index: 1;
}

@media (max-width: 850px) {
  .wave-seperator::before {
    height: 84px;
  }
}

.main-section {
  display: inline-flex;
  flex-direction: column;
  padding: 3rem 0;
  margin: 0 auto;
}
