button.install-btn {
  display: none;
  justify-content: flex-end;

  &.show {
    display: inline-flex;

    @media only screen and (min-width: 431px) {
      display: none;
    }
  }

  p.install-btn-text {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    width: 0%;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
  }

  &:hover {
    background-color: transparent;

    p.install-btn-text {
      width: 100%;
    }
  }

  @media only screen and (min-width: 431px) {
    display: none;
  }
}
